{% extends "base.html.twig" %}
{% block title %} {{ parent() }}- Liste des types {% endblock %}
{% block contenu %}
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th scope="col">ID</th>
<th scope="col">Libelle</th>
<th scope="col"></th>
<th scope="col"><a href="index.php?page=typeAjout"><button type="button" class="btn btn-primary">Ajouter</button></a></th>



</tr>
</thead>
<tbody>
{% for t in liste %}
<tr><td>{{t.id}}</td>
<td>{{t.libelle}}</td>
<td><a class="btn btn-outline-primary" href="index.php?page=typeModif&id={{t.id}}">Modifier</a></td>
 <td><a class="btn btn-outline-danger" href="index.php?page=type&id={{t.id}}">Supprimer</a></td>
 <td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{t.id}}" /></td>

</tr>
{% endfor %}
</tbody>
</table>
<button class="btn btn-lg btn-danger btn-block w-25 mx-auto" type="submit" name="btSupprimer">Supprimer</button>
</div>

{% set nb = form.nbpages %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center m-4 p-4">
        <li class="page-item {% if form.nopage == 0 %}disabled{% endif %}">
            <a class="page-link" href="index.php?page=type&nopage={{ 0 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% for i in 1..nb %}
        <li class="page-item {% if i == form.nopage +1 %} active{% endif %}">
            <a class="page-link" href="index.php?page=type&nopage={{ i-1 }}">{{ i }}<span class="sr- only"></span></a>
        </li>
        {% endfor %}
            <li class="page-item {% if form.nopage == form.nbpages-1 %}disabled{% endif %}">
            <a class="page-link" href="index.php?page=type&nopage={{ nb-1 }}" aria-label="Next" >
            <span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</nav>


{% endblock %}
