{% extends "base.html.twig" %}
{% block title %} {{ parent() }}- Modifier un type {% endblock %}
{% block contenu %}
<h1>Modifier un type</h1>

{% if form.type is defined %}
    {% if form.type != null %}
    
    <form class="form-signin" action="index.php?page=typeModif" method="post" enctype="application/x-www-form-urlencoded">
    
    <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Modifier le libelle" >
        <label for="inputLibelle" class="sr-only">Nom du type:</label>

    <input type="hidden" name="id" value="{{ form.type.id}}"/>

    <br>

<button class="btn btn-lg btn-danger btn-block" type="submit" name="btModifier">Modifier</button>


{% else %}
 <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
 <a href="index.php?page=type">Retourner sur la liste des types</a>
 {% endif %}
{% else %}

 {% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=type">Retourner sur la liste des types</a></h1>
 {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=type">Retourner sur la liste des types</a></h1>
 {% endif %}
{% endif %}
{% endblock %}


 
